.nav{
  position: fixed;   
  top: 0;
  left: 0;
  height: 100vh;
  width: 70px;
  background: #FF8961;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}


.logo {
  writing-mode: vertical-rl;     
  transform: rotate(180deg);     
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
}


.nav button {
  background-color: #F5F6FB;
  color: #ff875c;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 22px;
  cursor: pointer;
}

.nav button:hover {
  background-color: #ffe1d6;
}
