.card {
    height: 25rem;
    min-width: 24%;
    max-width: 25%;
    margin: 1rem;
    border-radius: 5%;
    padding: .5rem 2rem;
    background-color: #1d1d1d75;
    text-align: center;
}

ul li {
    list-style: none;
}

li span {
    color: #F8BA17;
}

.img {
    min-height: 45%;
    max-height: 48%;
}

.name-pokemon, .type {
    margin: .6rem 0;
    font-weight: 200;
}

.name-pokemon {
    font-size: 20px;
}

.type {
    font-size: 18px;
}

.info {
    margin-top: 1.2rem;
}

.info, .stadistics {
    height: 15%;
    display: flex;
    justify-content: space-around;
}