.pokedex-div {
  min-height: 100vh;
  color: #fff;
  background-color: #2B292C;
}

.title {
  height: 4rem;
  padding: 1rem;
  background-color: #D53B47;
}

.description {
  margin: 1rem 1rem 5rem 1rem;
}

.div-cards {
  min-height: 95vh;
  margin-bottom: 3rem;
  /* border: 1px solid purple; */
}