.task {
    display: flex;
    height: 8rem;
    align-items: center;
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    border-top: 3px solid #E7E0E8;
    border-bottom: 3px solid #E7E0E8;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4rem;
    min-width: 4rem;
    margin-right: 2rem;
    text-align: center;
    border-radius: 50%;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.status.pending {
  background-color: #ffe0e0;
  border: 2px solid #ff6b6b;
}

.status.completed {
  background-color: #e0ffe5; 
  border: 2px solid #38c172;
}

.info {
    display: flex;
    flex-direction: column;
    min-width: 90%;
    max-width: 91%;
    min-height: 100%;
    background-color: transparent;
}

.info .title-task {
    font-weight: 300;
    margin-bottom: .5rem;
}

.info .date-time {
    font-weight: 400;
    margin-bottom: .5rem;
}

.delete {
    border: none;
    cursor: pointer;
}

.delete svg {
    font-size: 25px;
}

.delete svg:hover {
    font-size: 30px;
}